#任何 Debug Realease 文件夹下只将.exe文件放入版本库
#fuck *.exe冲突难以解决，直接ignore

**/Debug/*
#!**/Debug/*.exe
**/Release/*
#!**/Release/*.exe
*.aps

#忽略.vs文件
/.vs/
/MiniWord/MiniWord.vcxproj.*
/msvcp140.dll
/vcruntime140.dll
